.container-ol .box{
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: cadetblue;
  border: 1px solid black;
  margin: 5px;
  color: white;
}
